<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd" xmlns:tx="http://www.springframework.org/schema/tx"
	default-autowire="byName">


	<bean id="dataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="jdbcUrl"
			value="jdbc:mysql://localhost:3306/DB_VIP?useUincode=true&amp;characterEncoding=utf-8">
		</property>
		<property name="user" value="root"></property>
		<property name="password" value="root"></property>

		<!-- C3P0 -->
		<property name="maxPoolSize" value="40"></property>
		<property name="minPoolSize" value="5"></property>
		<property name="initialPoolSize" value="5"></property>
		<property name="maxIdleTime" value="20"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.current_session_context_class">thread</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
			<value>com/bs/mall/entity/Users.hbm.xml</value>
			<value>com/bs/mall/entity/Role.hbm.xml</value>
			<value>com/bs/mall/entity/Vip.hbm.xml</value>
			<value>com/bs/mall/entity/Commodity.hbm.xml</value>
			<value>com/bs/mall/entity/Consume.hbm.xml</value></list>
		</property>
	</bean>
	<!-- 属性注入 -->
	<bean id="userDao" class="com.bs.mall.dao.impl.UserDaoImpl">
		<property name="sessionFactory" >
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean id="commodityDao" class="com.bs.mall.dao.impl.CommodityDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean id="vipDao" class="com.bs.mall.dao.impl.VipDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>

	<!-- 事务管理增强 -->
	<bean id="affairAdvice" class="com.bs.mall.advice.AffairForHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<!-- serviceBean -->
	<bean id="userServiceTarget" class="com.bs.mall.service.impl.UserServiceImpl">
		<property name="userDao">
			<ref bean="userDao"/>
		</property>
	</bean>
	<bean id="commodityServiceTarget" class="com.bs.mall.service.impl.CommodityServiceImpl">
		<property name="commodityDao">
			<ref bean="commodityDao"/>
		</property>
	</bean>
	<bean id="vipServiceTarget" class="com.bs.mall.service.impl.VipServiceImpl">
		<property name="vipDao">
			<ref bean="vipDao"/>
		</property>
	</bean>
	<!-- aopBean -->
	<bean id="userService" class="org.springframework.aop.framework.ProxyFactoryBean"
		p:proxyInterfaces="com.bs.mall.service.UserService"
		p:interceptorNames="affairAdvice"
		p:target-ref="userServiceTarget">
	</bean>
	<bean id="commodityService" class="org.springframework.aop.framework.ProxyFactoryBean"
		p:proxyInterfaces="com.bs.mall.service.CommodityService"
		p:interceptorNames="affairAdvice"
		p:target-ref="commodityServiceTarget">
	</bean>
	<bean id="vipService" class="org.springframework.aop.framework.ProxyFactoryBean"
		p:proxyInterfaces="com.bs.mall.service.VipService"
		p:interceptorNames="affairAdvice"
		p:target-ref="vipServiceTarget">
	</bean>
	<!-- action属性注入 -->
	<bean id="loginAction" class="com.bs.mall.action.LoginAction">
		<property name="userService">
			<ref bean="userService"/>
		</property>
	</bean>
	<bean id="commodityAction" class="com.bs.mall.action.CommodityAction">
		<property name="commodityService">
			<ref bean="commodityService"/>
		</property>
	</bean>
	<bean id="vipAction" class="com.bs.mall.action.VipAction">
		<property name="vipService">
			<ref bean="vipService"/>
		</property>
	</bean>
	<bean id="consAction" class="com.bs.mall.action.ConsAction">
		<property name="vipService">
			<ref bean="vipService"/>
		</property>
		<property name="commodityService">
			<ref bean="commodityService"/>
		</property>
	</bean>
	
	
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" /></beans>